<div class="p-5 mb-4 bg-success rounded-3 text-dark mt-2">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">MVC - PHP</h1>
        <p class="col-md-8 fs-4">Model - View - Controller</p>
        <a href="{{URL}}"><button class="btn btn-outline-light">HOME</button></a>
        <a href="{{URL}}/sobre"><button class="btn btn-outline-light">SOBRE</button></a>
        <a href="{{URL}}/depoimentos"><button class="btn btn-outline-light">DEPOIMENTOS</button></a>
    </div>
</div>