<h1>Depoimentos</h1>
<hr>

<section id="testimonies">

    <div class="card text-dark bg-light mb-3">
        <div class="card-header fw-bolder">lucas sena</div>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    {{itens}}

</section>

<hr>

<section id="form">

    <h3>Envie seu depoimento</h3>

    <form method="POST">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome</label>
            <input type="text" class="form-control" name="nome" required id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Depoimento</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="mensagem" required
                rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Enviar</button>
    </form>

</section>